body {
    background-color: #1c2933;
    color: white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    /*overflow-y: scroll !important;*/
    padding-bottom: 100px;
}

.btn, .btn-large, .btn-small {
    transition: background-color, transform .2s ease-out !important;
}

.modal-overlay {
    /*overflow-y: scroll;*/
}

.modal-content,
.modal-close {
    display: none;
}

.modal .modal-content,
.modal .modal-close {
    display: block !important;
}

.header-logo__image.axosoft {
    background-image: url(../Content/images/logo-axo-light.svg);
    width: 130px;
    height: 40px;
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    /*height:*/
}

.container {
    display: none;
}

.connectBtn {
    background-color: #edf1f2;
    color: #2a3e51;
    padding: .4em .5em;
    font-size: 40px;
    font-weight: 700;
    border-radius: 3px;
    display: flex;
    margin: auto;
    width: 600px;
    justify-content: center;
    align-content: center;
    height: 150px;
    align-items: center;
    border: 4px solid #d7e0e0;
    margin-top: 100px;
}

    .connectBtn:hover {
        background-color: #d8dfe3;
    }

    .connectBtn:active {
        transform: scale(0.99);
    }

    .connectBtn i {
        margin-right: 35px;
        color: #337ab7;
    }

#topMenu {
    position: absolute;
    top: 5px;
    right: 100px;
    transform: scale(1.5);
}

.card .card-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    /*font-weight: bold;*/
    margin-bottom: 30px !important;
}

.header_username {
    height: 30px;
    width: auto;
    background-color: #37474f;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0 10px 0 0;
    border-radius: 3px;
    font-weight: 700;
    /*font-size: .65rem;*/
    overflow: hidden;
    border: 1px solid #4b5b72;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

    .header_username:hover {
        border-color: #5f7392;
        background-color: #465c67;
    }

    .header_username:active {
        transform: scale(0.95);
    }

    .header_username .userImage {
        width: 30px;
        height: 30px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block
    }

    .header_username .userName {
        display: inline-block;
        margin-left: 10px;
    }

.spinner {
    display: block;
}

#workLogChart {
    margin-bottom: 13px;
}

.btn-large.withIcon span {
    position: relative;
    top: -3px;
}

.btn-large:not(.noText) i {
    margin-right: 15px;
}

.btn-sm span {
    margin-left: 5px;
}

.btn-sm.withIcon span {
    position: relative;
    top: -2px;
}

.buttons {
    display: flex;
}

    .buttons > .btn-large {
        flex-grow: 1;
        margin: 0 20px;
    }

.datepicker-modal {
    color: black;
}

.dateRangePickers {
    display: flex;
    flex-direction: row;
}

    .dateRangePickers .dateHolder {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 50px;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

        .dateRangePickers .dateHolder input {
            text-align: center;
            color: white;
        }

    .dateRangePickers .timeHolder.maxAmountSelected a,
    .dateRangePickers .timeHolder.maxAmountSelected input {
        opacity: 0.3;
        transform: scale(0.8);
    }

    .dateRangePickers .timeHolder {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

        .dateRangePickers .timeHolder input {
            margin-left: 60px;
            width: auto;
            margin-right: 90px;
            text-align: center;
            color: white;
        }

        .dateRangePickers .timeHolder .btn-plus {
            position: absolute;
            right: 50px;
            top: 25px;
            padding: 0 10px;
            border-radius: 10px;
        }

        .dateRangePickers .timeHolder .btn-plusMax {
            position: absolute;
            right: 15px;
            top: 25px;
            padding: 0 10px;
        }

        .dateRangePickers .timeHolder.maxAmountSelected a.btn-plusMax {
            opacity: 1 !important;
            transform: scale(1.3);
            /*background-color: #00332a !important;*/
        }

.teal.darken-3 .dateRangePickers .timeHolder.maxAmountSelected a.btn-plusMax {
    background-color: #004d40 !important;
}

.blue-grey.darken-3 .dateRangePickers .timeHolder.maxAmountSelected a.btn-plusMax {
    background-color: #263238 !important;
}

.dateRangePickers .timeHolder .btn-plusMax i {
    font-size: 15px;
}

.dateRangePickers .timeHolder .btn-minus {
    position: absolute;
    left: 15px;
    top: 25px;
    padding: 0 10px;
    font-size: 10px;
    border-radius: 10px;
}

.buttonPreselects,
.activityButtons {
    display: flex;
}

    .buttonPreselects .btn,
    .activityButtons .btn {
        flex-grow: 1;
        margin: 0 10px;
    }

.activityButtons {
    margin-top: 10px;
}

.buttonPreselects {
    margin-top: 10px;
    margin-bottom: 30px;
}

    .buttonPreselects .btn {
        border-radius: 20px;
    }

.workTypes {
    /*margin-top: 20px;*/
    /*display: flex;*/
}

    .workTypes label {
        flex-grow: 1;
    }

        .workTypes label.workTypeLabel span {
            color: white;
            font-size: 20px;
        }

[type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after {
    border-color: white;
}

.totalsWorkLogTable td,
.totalsWorkLogTable th {
    padding: 15px 20px !important;
    /*font-size: 13px;*/
}

.totalsWorkLogTable th {
    text-transform: uppercase;
    background-color: #607d8b !important;
    color: white !important;
}

.totalsWorkLogTable tr.totalWorkLog {
    background-color: #263238 !important;
    color: white !important;
}

.workLogsTableTitle {
    font-size: 17px;
    text-align: center;
    margin: 10px;

}

.grey-text.text-darken-4 label,
.grey-text.text-darken-4 input {
    color: white;
    border-color: white;
}

.grey-text.text-darken-4 textarea {
    border-color: white;
}

.detailsHolder {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

    .detailsHolder > div {
        flex-grow: 1;
        flex-basis: 0;
        margin: 0 10px;
    }

.description textarea {
    margin: .5rem 0 1rem 0;
    padding: 11px;
    color: white;
}

#customEntry textarea {
    min-height: 100px;
}

#addMoreWorkTypesModal .workTypeItem.chosen,
#addMoreWorkItemsModal .workItem.chosen {
    /*background-color: #263238 !important;*/
    background-color: #3b4c54 !important;
}

.chosenWorkItemsList .workItem.active,
.chosenWorkTypesList .workType.active {
    /*background-color: red !important;*/
    color: white;
    background-color: #263238 !important;
    border-left: 5px solid white !important;
    /*background-color: #455a64 !important;*/
}

.workAmountInput::-webkit-outer-spin-button,
.workAmountInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.workAmountInput.maxAmount {
    color: transparent !important;
}

.chosenWorkItemsList .workItem,
.chosenWorkTypesList .workType {
    position: relative;
}

    .chosenWorkItemsList .workItem .removeWorkItem,
    .chosenWorkTypesList .workType .removeWorkType,
    #templates .removeTemplate {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 23px;
        color: #c81f1f;
        cursor: pointer;
    }

        .chosenWorkItemsList .workItem .removeWorkItem:hover,
        .chosenWorkTypesList .workType .removeWorkType:hover,
        #templates .removeTemplate:hover {
            /*transform: scale(1.1);*/
            color: #df2f2f;
        }

        .chosenWorkItemsList .workItem .removeWorkItem:active,
        .chosenWorkTypesList .workType .removeWorkType:active,
        #templates .removeTemplate:active {
            transform: scale(0.95);
        }

.chosenWorkItemsList .collection,
.chosenWorkTypesList .collection,
#addMoreWorkTypesModal .collection,
#addMoreWorkItemsModal .collection {
    /*border-color: transparent;*/
    border: 0;
    margin-bottom: 5px;
}

    .chosenWorkItemsList .collection .collection-item,
    .chosenWorkTypesList .collection .collection-item,
    #addMoreWorkTypesModal .collection .collection-item,
    #addMoreWorkItemsModal .collection .collection-item {
        color: white !important;
        border-color: transparent;
    }

        #addMoreWorkTypesModal .collection .collection-item.chosen,
        #addMoreWorkItemsModal .collection .collection-item.chosen {
            /*border-left: 5px solid white;*/
            padding-left: 30px;
            background-color: white !important;
            color: black !important;
        }

.card.teal.darken-2 .btn.disabled {
    /*display: none;*/
    background-color: #80cbc4 !important;
    cursor: not-allowed !important;
}

.card.blue-grey.darken-3 .btn.disabled {
    background-color: #b0bec5 !important;
    cursor: not-allowed !important;
}

.modal-close {
    color: white;
}

.modal input {
    color: white;
}

.collapsible .collapsible-body {
    padding: 0 !important;
}

.collapsible .card {
    margin: 0 !important;
}

#templates .card {
    margin: 20px 0 !important;
}

#templates .templatesList .card-content {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
}

    #templates .templatesList .card-content .templateDescAndAmount {
        display: flex;
        flex-direction: row;
    }

        #templates .templatesList .card-content .templateDescAndAmount .dateRangePickers {
            flex-grow: 1;
            position: relative;
            top: 5px;
        }

        #templates .templatesList .card-content .templateDescAndAmount .description {
            flex-grow: 20;
        }

        #templates .templatesList .card-content .templateDescAndAmount .addTemplateWorkLog {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 4px;
        }

#templates .card-titlee {
    text-align: center;
    margin-bottom: 20px;
}

#templates .templateWorkItem {
    font-weight: bold;
    font-size: 16px;
}

#templates .templateWorkType {
    font-style: italic;
    font-size: 14px;
}

#templates .templatesList > .card {
    box-shadow: 0px 0px 5px rgba(255,255,255,0.24);
}

#templates .templatesList > .card > .card-content {
    background-color: #324047 !important;
}

#toast-container .toast {
    padding-right: 50px;
}

#toast-container .toast-action {
    color: #9c1a1a !important;
    font-weight: bold !important;
    position: absolute;
    top: 5px;
    right: 25px;
}

    #toast-container .toast-action:hover {
        color: #db2929 !important;
        /*transform: scale(1.1);*/
    }

    #toast-container .toast-action:active {
        transform: scale(0.9);
    }

#settingsModal input {
    width: 100px;
}

.activityButtons .row {
    margin-bottom: 0;
    width: 100%;
}

.activityButtons .col {
    display: flex;
    margin-bottom: 20px;
}

#semiAutomaticSettings .row:last-child {
    margin-bottom: 0;
}

#semiAutomaticSettings .row .col {
    margin-bottom: 10px;
}

#addEducationButton {
    padding: 0 15px;
}